<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Hey there! To contact the dev of this app, you need to turn to <a href="https://twitter.com" title="">Twitter!</a>. He can be found at <a href="https://twitter.com/richjdsmith" title="">@richjdsmith</a> there.
</p>
